[Unit]
Description=Restic repository mirror schedule

[Timer]
OnCalendar=Mon..Sun 13:00:00
Persistent=true
Unit=restic-nas-sync.service

[Install]
WantedBy=timers.target
